<div class="row">
	<div class="col-lg-12">
		<img src="{{ricettaSelezionata?.imagePath}}" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1>{{ricettaSelezionata?.name}}</h1>
	</div>
	<div class="col-lg-12">
		<button class="btn btn-success">To shopping list</button>
		<button class="btn btn-primary">Edit</button>
		<button class="btn btn-danger">Delete</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<p>{{ricettaSelezionata?.description}}</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		INGRADIENTI
	</div>
</div>
